apex==0.1
click==7.1.2
dataclasses==0.8
future==0.18.2
joblib==1.0.0
megatron-lm-helpers==0.0.1
nltk==3.5
numpy==1.19.4
pybind11==2.6.1
regex==2020.11.13
six==1.15.0
tokenizers==0.9.4
torch==1.5.0+cu101
tqdm==4.55.0
typing-extensions==3.7.4.3
